<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pos-printer" 
        version="1.0.0" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0">
    
    <name>POSPrinter</name>
    <description>POS Printer Plugin for Alpha Anywhere</description>
    
    <js-module name="POSPrinter" src="www/printer.js">
        <clobbers target="window.POSPrinter" />
    </js-module>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="POSPrinter">
                <param name="android-package" value="com.printer.pos.POSPrinterPlugin"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/com/printer/pos/POSPrinterPlugin.java" 
                     target-dir="src/com/printer/pos" />
                     
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
    </platform>
</plugin>
