<?xml version='1.0' encoding='utf-8'?>
<plugin id="alpha-pos-printer" 
        version="1.0.0" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0">
    
    <name>POSPrinterPlugin</name>
    <description>Alpha Anywhere POS Printer Plugin</description>
    
    <js-module name="POSPrinterPlugin" src="www/printer.js">
        <clobbers target="POSPrinter" />
    </js-module>
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="POSPrinterPlugin">
                <param name="android-package" value="com.alphaplugin.printer.POSPrinterPlugin"/>
            </feature>
        </config-file>
        
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        
        <source-file src="src/android/com/alphaplugin/printer/POSPrinterPlugin.java" 
                     target-dir="src/com/alphaplugin/printer" />
    </platform>
</plugin>
